/******* GENERAL *******/
/* spacing on all sections */
#about,
#skills,
#portfolioDev,
#portfolioTest,
#tools,
#contact {
    padding: 2rem 0;
}

#about h2,
#skills h2,
#tools h2,
#portfolioDev h2,
#portfolioTest h2,
#contact h2 {
    margin-bottom: 3rem;
}

#contact {
    padding-bottom: 4rem;
}

/* display background dark color on navbar scroll */

.navbar {
    color: white !important;
    background-color: #353232; 
}

/* text css above hero image*/
#header {
    background-color: #000E9C;
    color: #ffff;
    padding: 3em 0;

}

.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

/* portfolio */
#portfolioDev p, #portfolioTest p {
    text-align: center;
}

.btn-success {
    color: #fff;
    background-color: #000E9C !important;
    border-color: #000E9C !important;
}

/* skills / tools */
.skillsText.card, .toolsText.card {
    height: 400px;
    cursor: pointer;
}
.skillsText img, .toolsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
#skills p, #tools p {
    text-align: center;
}
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skillsIcon {
    color: #000E9C;
}
.skillsText:hover {
    border: 1px solid #000E9C;
}

/* about */
#about {
    background-color: #000E9C;
    color: #ffff;
}

.imageAboutPage {
    width: 100%;
}
.imageAboutPage {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.about_text {
    text-align: center;
    font-size: 20px;
}

/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: #000E9C;
}
/* footer */
